{% extends 'base.html.twig' %}

{% block title %}Фотобанк{% endblock %}

{% block head %}
<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<link rel="stylesheet" href="{{ asset('build/app.css') }}">
{% endblock %}

{% block body %}
  <div id="photobank-root"></div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('build/app.js') }}"></script>

{% endblock %}
