// body {
//   margin: 0;
//   padding: 0;
//   border: 0;
//   font-family: Roboto, sans-serif;
//   button{
//     cursor:pointer;
//   }
// }
//
//
// h1 {
//   margin: 0;
//   width: 100%;
//   padding: 10px 25px;
//   font-weight: 100;
//   width:auto;
//   display: block;
// }
//
// .user-manager-main{
//   vertical-align: top;
// }
//
// .user-list{
//   display: inline-block;
//   width:20%;
//   height:100vh;
// }
//
// .user-editor{
//   display: inline-block;
//   width:80%;
//   height:100vh;
//   input,select,button{
//     display: block;
//   }
// }

.userblock {
  p {
    float: left;
    margin: 0;
    padding: 2px;
  }

  a {
    float: right;
    padding: 2px;
  }
  height: 40px !important;
  padding: 10px !important;
  width: 97vw !important;
  margin-bottom:3px;
  border: none !important;
}

select{
  position: relative !important;
  opacity: 1 !important;
  pointer-events: all !important;
  display: block !important;
}

.users-inactive{
  transition: 0.3s;
  max-height:1000px;
  overflow: hidden;
  &.hidden{
    max-height: 0px;
  }
}

.user-list, .user-editor{
  height:83vh;
  overflow: auto;
}

.user-list{
  outline-right:2px solid #333;
  background-color: #eff9fd;
}

.user-item{
  i{
    padding: 0px 5px;
  }
}

.brand-logo{
  margin-left: 24px;
}

.card-panel{
  padding: 12px !important;
}
.btn{
  margin:4px;
  i{
        padding: 0px 5px;
  }
}

nav{
  z-index: 10;
position: relative;
}

.fa-camera{padding: 20px 0;}

#notification-overlay{
  pointer-events: none;
  position: fixed;
  width: 250px;
  height: auto;
  bottom: 30px;
  right: 10px;
  z-index: 1000;
  &>.notification{
    position: relative;
    width: 250px;
    animation-name: slidein;
    animation-duration: 0.4s;
    pointer-events: all;
    margin: 10px 0;
    padding: 5px 25px;
    button{
      i{
        pointer-events: none;
      }
      top: 20px;
      right: 10px;
      position: absolute;
      width: 30px;
      height: 30px;
    }
    &__notification-caption{
      padding: 20px;
    }
    &--out{
      animation-name: slideout;
      animation-duration: 0.4s;
    }
  }
}

#notification-overlay{
  &>.notification{
    border-radius: 5px;
    button{
      border:none;
      border-radius: 30px;
      font-size: 20px;
      padding: 0;
    }
    .notification__notification-caption{
      font-weight: bold;
      font-size: 15px;
    }
    &--toast{
      background-color: #41758aad;
      .notification__notification-caption{
        color: #fafdff;
        border-bottom: 2px solid #fafdff;
      }
      button{
        background-color: #41758aad;
        color: #fafdff;
      }
    }
    &--error{
      background-color: #a71b1bad;
      .notification__notification-caption{
        color: #fff1f1;
        border-bottom: 2px solid #fff1f1;
      }
      button{
        background-color: #a71b1bad;
        color: #fff1f1;
      }
    }
  }
}

@keyframes slidein {
  from {
    margin-left: 1000px;
    }
  to {
    margin-left: 0px;
    }
}

@keyframes slideout {
  from {
    margin-left: 0px;
    }
  to {
    margin-left: 1000px;
    }
}
