.item-view {
  position: relative;
  @extend %component-inner;
  .file-list__button-block{
    button{
      @extend %button;
    }
  }
  .file-list__drop-target{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    &--active{
      display:block;
      border-radius:30px;
      background-color:rgba(160,160,160,0.7);
      border: 5px dashed #777;
    }
  }
  &__existing>button.item-view__view-button{
    @extend %button-view;
  }
  &__item-title{
    padding: 10px 20px;
    font-size:15pt;
    border-radius: 3px;
  }
  &__subheader{
    padding:10px;
  }
  .item-view__inner {
    @extend %component-inner;
  }
}

@import "./item-view-types.scss";
