@mixin icon-upload(){
  overflow: hidden;
  vertical-align: top;
  position: relative;
  border-radius:$bordrad;
  text-align: center;
  display:inline-block;
  margin:10px;
  .file-item__file-name{
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index:100;
    vertical-align: middle;
    position: relative;
  }
  .file-item__delete-upload{
    position: initial;
    cursor: pointer;
    &::after{
      content: '';
      position: relative;
      background-color: transparent;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      pointer-events: none;
      transition: background-color 0.3s;
    }
    &:hover{
      &::after{
        position: absolute;
        background-color: rgba(255,0,0,0.2);
      }
    }
  }
}

.item-view {
  .item-view__inner {
    &--icons-lg{
      .item-view__table-header{
        display:none;
      }
      .item-resources{
        display:block;
        .info__info-field, .edit-input, .info__info-field--preset-done{
          display:none;
        }
        .existing-files__file{
          width: 150px;
          @include icon-view();
          .file__thumbnail{
            width:150px;
            height:150px;
          }
          a{
            text-overflow: ellipsis;
            max-width: 150px;
          }
        }
      }
      .item-uploads{
        display:block;

        position: relative;
        .file-item__upload-status{
          display:none;
        }
        .file-list__file-item{
          @include icon-upload();
          width:150px;
          height:150px;
          .file-item__file-name{
            font-size: 15pt;
            bottom: -40px;
            display: block;
          }
          .file-item__delete-upload{
            margin-top: 5px;
            margin-left: 115px;
            font-size: 17px;
          }
        }
      }
      .progress-bar{
        &__percentage{
          display: none;
        }
        &__bar{
          position: relative;
          height: 100%;
          top: -49px;
        }
      }
    }
    &--icons-sm{
      .file-item__upload-status{
        display:none;
      }
      .item-view__table-header{
        display:none;
      }
      .existing-files{
        display:table;
        .info__info-field, .edit-input, .info__info-field--preset-done{
          display:none;
        }
      }
      .existing-files__file{
        width: 100px;
        @include icon-view();
        .file__thumbnail{
          width:100px;
          height:100px;
        }
        a{
          white-space:nowrap;
          text-overflow: ellipsis;
          max-width: 100px;
        }
      }
      .item-uploads{
        display:block;
        position: relative;
        .file-item__upload-status{
          display:none;
        }
        .file-list__file-item{
          @include icon-upload();
          width:100px;
          height:100px;
          .file-item__file-name{
            font-size: 10pt;
            bottom: -15px;
          }
          .file-item__delete-upload{
            margin-top: 5px;
            margin-left: 75px;
          }
        }
      }
      .progress-bar{
        &__percentage{
          display: none;
        }
        &__bar{
          position: relative;
          height: 100%;
          top: -40px;
        }
      }
    }
    &--detailed{
      .existing-files{
        display:table;
        width:100%;
        .item-view__table-header{
          display:table-header-group;
        }
        .existing-files__file{
          display:table-row;
          .file__thumbnail{
            height: 38px;
            width: 38px;
            background-size: cover;
            background-position: center;
            position: absolute;
            left:0px;
            top: 0;
          }
          .file__file-name{
            max-width: 200px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            padding-left:40px;
            position: relative;
          }
        }
        .info__info-field, .file>a, select, span, .edit-input{
          @include table-cell();
        }
      }
      .item-uploads{
        position: relative;
        width: 100%;
        text-align: center;
        .item-view__table-header{
          display:table-header-group;
        }
        .item-uploads__upload-wrapper, .item-uploads__unfinished-wrapper{
          width: 100%;
          display: table;
        }
        .file-list__file-item{
          display:table-row;
          .file-item__file-name{
            max-width: 100px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
        }
        .info__info-field, .file>a, select, span, .edit-input{
          @include table-cell();
        }
      }
      .progress-bar{
        &__percentage{
          display: block;
        }
        &__bar{
          position: relative;
          height: 5px;
          top: 0;
        }
      }
    }
  }
}
