%icon-upload{
  overflow: hidden;
  vertical-align: top;
  position: relative;
  border-radius:$bordrad;
  text-align: center;
  display:inline-block;
  margin:10px;
  .file-item__file-name{
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    z-index:100;
    vertical-align: middle;
    position: relative;
  }
  .file-item__delete-upload{
    position: relative;
  }
}

.item-view {
  .item-view__inner {
    &--icons-lg{
      .item-view__table-header{
        display:none;
      }
      .item-resources{
        display:block;
        .info__info-field, .edit-input, .info__info-field--preset-done{
          display:none;
        }
        .existing-files__file{
          width: 150px;
          @extend %icon-view;
          .file__thumbnail{
            width:150px;
            height:150px;
          }
          a{
            text-overflow: ellipsis;
            max-width: 150px;
          }
        }
      }
      .item-uploads{
        display:block;
        .file-item__upload-status{
          display:none;
        }
        .file-list__file-item{
          @extend %icon-upload;
          width:150px;
          height:150px;
          .file-item__file-name{
            font-size: 15pt;
            bottom: -40px;
            display: block;
          }
          .file-item__delete-upload{
            top: 120px;
            left: 55px;
            font-size: 17px;
          }
        }
      }
      .progress-bar{
        &__percentage{
          display: none;
        }
        &__bar{
          position: relative;
          height: 100%;
          top: -49px;
        }
      }
    }
    &--icons-sm{
      .file-item__upload-status{
        display:none;
      }
      .item-view__table-header{
        display:none;
      }
      .existing-files{
        display:table;
        .info__info-field, .edit-input, .info__info-field--preset-done{
          display:none;
        }
      }
      .existing-files__file{
        width: 100px;
        @extend %icon-view;
        .file__thumbnail{
          width:100px;
          height:100px;
        }
        a{
          white-space:nowrap;
          text-overflow: ellipsis;
          max-width: 100px;
        }
      }
      .item-uploads{
        display:block;
        position: relative;
        .file-item__upload-status{
          display:none;
        }
        .file-list__file-item{
          @extend %icon-upload;
          width:100px;
          height:100px;
          .file-item__file-name{
            font-size: 10pt;
            bottom: -23px;
          }
          .file-item__delete-upload{
            top: 75px;
            left: 35px;
          }
        }
      }
      .progress-bar{
        &__percentage{
          display: none;
        }
        &__bar{
          position: relative;
          height: 100%;
          top: -40px;
        }
      }
    }
    &--detailed{
      .existing-files{
        display:table;
        width:100%;
        .item-view__table-header{
          display:table-header-group;
        }
        .existing-files__file{
          display:table-row;
          .file__thumbnail{
            display:none;
          }
        }
        .info__info-field, .file>a, select, span, .edit-input{
          @extend %table-cell;
        }
      }
      .item-uploads{
        position: relative;
        display:table;
        width: 100%;
        text-align: center;
        .item-view__table-header{
          display:table-header-group;
        }
        .file-list__file-item{
          display:table-row;
          .file-item__file-name{
            max-width: 20%;
            white-space: nowrap;
            text-overflow: ellipsis;
          }
        }
        .info__info-field, .file>a, select, span, .edit-input{
          @extend %table-cell;
        }
      }
      .progress-bar{
        &__percentage{
          display: block;
        }
        &__bar{
          position: relative;
          height: 5px;
          top: 0;
        }
      }
    }
  }
}
