$color-main: #394264;
$color-main-fade: #50597b;
$color-secondary: #00a7a9;
$color-accent: #e64c65;
$color-background: #222a3e;

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
  background-color: $color-background
}

%component-section {
  border-right: 2px solid $color-main;
  height: 85vh;
  margin:10px;
  background-color:$color-main;
  border-radius:5px;
}

%component-inner {
  margin: 10px;
}

%icon-view{
  display:inline-block;
  padding:10px;
  text-align: center;
  .file__thumbnail{
    background-size: contain;
    background-repeat:no-repeat;
  }
}

.userblock {
  p {
    float: left;
    margin: 0;
    padding: 2px;
  }

  a {
    float: right;
    padding: 2px;
    color:white;
  }
  height: 30px !important;
  padding: 10px !important;
  width: 97vw !important;
  background-color: $color-main !important;
  color: white !important;
  border-radius: 5px !important;
  margin:10px;
  border: none !important;
}

.photobank-main {

  &__butt-wrapper{
    position: fixed;
    bottom: 50px;
    left: 50vw;
    z-index: 999;
    button{
      margin-left: -50%;
      background-color: $color-main;
      border: none;
      border-radius: 20px;
      padding:15px 20px;
      font-size: 15pt;
      color:white;
    }
  }

  &__upload-pool-wrapper{
    display:none;
    position: fixed;
    z-index: 998;
    left:50vw;
    top:0;
    color:white;
    &--open{
      display:block;
    }
    .upload-pool{
      height:100vh;
      display: inline-block;
      padding:10px;
      background-color: $color-main;
      margin-left: -50%;
      overflow-y: scroll;
      width:300px;
    }
  }

  &__main-block {
    display: flex;
    align-items: flex-start;
    color: white;
    background-color: $color-background;

    .component-title {
      color: white;
      background-color: $color-main;
      border-bottom: 2px solid $color-secondary;
      margin: 0;
      padding: 10px 25px;
      font-weight: bold;
      text-transform: uppercase;
      width:auto;
      display: block;
      border-radius: 30px 30px 0 0;
      &__view-icons {
        font-size: 12pt;
        float:right;
        i{
          padding:2px;
        }
      }
    }

    .catalogue-tree {
      order: 1;
      flex-grow: 1;
      height: 85vh;
      display: inline-block;
      @extend %component-section;

      .view-inner__list-view{
        margin-top:10px;
        .list-view__cat_item{
          background-color: $color-main-fade;
          padding:7px 15px;
          border-bottom:2px solid $color-secondary;
        }
      }

      &__crumbs{
        .crumbs__crumb{
          background-color: $color-main;
          padding:5px;
          display:inline;
          bottom: -5px;
          position: relative;
          border-right:1px solid $color-secondary;
          &--active{
            background-color:$color-secondary;
          }
          &::after{
            content:" >";
          }
        }
      }
    }

    .node-viewer {
      order: 2;
      flex-grow: 4;
      height: 85vh;
      display: inline-block;

      .view-inner__container{
        @extend %component-inner;
      }

      .view-inner {
        display: flex;
        align-items: flex-start;

        &__item-list {
          flex-grow: 1;
          @extend %component-section;
        }

        &__item-section {
          flex-grow: 0;
          min-width: 50vw;
              max-width: 70vw;
          overflow-x:hidden;
          overflow-y:scroll;
          @extend %component-section;

          .item-view {
            @extend %component-inner;
            &__existing>button.item-view__view-button{
              background-color: $color-secondary;
              border:none;
              padding:10px;
              margin:2px;
              border-radius: 5px;
              font-size: 12pt;
              color: white;
              &--active{
                background-color: $color-accent;
              }
            }
            .item-view__inner {
              a{
                color:white;
              }
              @extend %component-inner;
              &--icons-lg{
                .item-view__table-header{
                  display:none;
                }
                .item-resources{
                  display:block;
                  .info__info-field, .edit-input, .info__info-field--preset-done{
                    display:none;
                  }
                  .existing-files__file{
                    @extend %icon-view;
                    .file__thumbnail{
                      width:150px;
                      height:150px;
                    }
                  }
                }
                .item-uploads{
                  display:block;
                  .file-item__upload-status{
                    display:none;
                  }
                  .file-list__file-item{
                    width:150px;
                    height:150px;
                    border:1px solid $color-secondary;
                    border-radius:5px;
                    background-color:$color-main;
                    text-align: center;
                    display:inline-block;
                    margin:10px;
                    .file-item__file-name{
                      vertical-align: middle;
                      font-size: 15pt;
                      bottom: -55px;
                      position: relative;
                    }
                  }
                }
              }
              &--icons-sm{
                .file-item__upload-status{
                  display:none;
                }
                .item-view__table-header{
                  display:none;
                }
                .item-resources{
                  display:table;
                  .info__info-field, .edit-input, .info__info-field--preset-done{
                    display:none;
                  }
                }
                .existing-files__file{
                  @extend %icon-view;
                  .file__thumbnail{
                    width:100px;
                    height:100px;
                  }
                }
                .item-uploads{
                  display:block;
                  .file-item__upload-status{
                    display:none;
                  }
                  .file-list__file-item{
                    width:100px;
                    height:100px;
                    border:1px solid $color-secondary;
                    border-radius:5px;
                    background-color:$color-main;
                    text-align: center;
                    display:inline-block;
                    margin:10px;
                    .file-item__file-name{
                      vertical-align: middle;
                      font-size: 10pt;
                      position: relative;
                      bottom: -35px;
                    }
                  }
                }
              }
              &--detailed{
                .item-resources{
                  display:table;
                  .item-view__table-header{
                    display:table-header-group;
                  }
                  .existing-files__file{
                    display:table-row;
                    .file__thumbnail{
                      display:none;
                    }
                  }
                  .info__info-field, .file>a, select, span, .edit-input{
                    display:table-cell;
                    background-color: $color-main;
                    padding:5px;
                    border:1px solid $color-secondary;
                  }
                }
                .item-uploads{
                  display:table;
                  width: 100%;
                  text-align: center;
                  .item-view__table-header{
                    display:table-header-group;
                  }
                  .file-list__file-item{
                    display:table-row;
                  }
                  .info__info-field, .file>a, select, span, .edit-input{
                    display:table-cell;
                    background-color: $color-main;
                    padding:5px;
                    border:1px solid $color-secondary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
