
$bordrad:3px;

%component-section {
  border-right: 3px solid $color-main-fade;
  border-bottom: 3px solid $color-main-fade;
  height: 85vh;
  margin:5px;
  background-color:$color-main;
  border-radius:$bordrad;
}

%component-inner {
  margin: 10px;
}

%icon-view{
  display:inline-block;
  padding:10px;
  text-align: center;
  .file__thumbnail{
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat;
  }
}

%list-item{
  background-color: $color-main-fade;
  padding:7px 15px;
  border-bottom:2px solid $color-secondary;
  h4{
    margin:0;
  }
}

%table-cell{
  display:table-cell;
  text-align: center;
  background-color: $color-main-fade;
  color: $color-text;
  padding:5px;
  border-bottom: 1px solid $color-secondary;
  border-right: 1px dashed $color-secondary;
}

%button{
  background-color: $color-secondary;
  color: $color-text-alt;
  border:none;
  border-radius:$bordrad;
  padding:10px 20px;
  margin:2px;
  font-size: 12pt;
}

%button-view{
  background-color: $color-secondary;
  color: $color-text-alt;
  border:none;
  padding:10px;
  margin:2px;
  border-radius: 3px;
  font-size: 12pt;
  &--active{
    background-color: $color-accent;
  }
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Roboto, sans-serif;
  background-color: $color-background
}

i.fas{
  padding:4px;
}

@import "./blocks/userblock.scss";
@import "./blocks/photobank-main/photobank-main.scss";
@import "./blocks/catalogue-tree.scss";
@import "./blocks/node-viewer.scss";
@import "./blocks/list-filter.scss";
@import "./blocks/item-view/item-view.scss";
