.jstree{
  .jstree-anchor.jstree-clicked{
    background-color: transparent;
    font-weight: bold;
    text-decoration: underline;
  }
}

.catalogue-tree__component-title .fa-sitemap{
  transform: rotate(-90deg);
  font-size: 15px;
}

.info__info-field--comment{
  display: none !important;
}
