.download-pool{
  .pending-download{
    position: relative;
    font-size: 15px;
    line-height: 30px;
    width: 400px;
    display: inline-block;
    margin:10px;
  }
  .download-thumbnail{
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 10px;
  }
  .download-infofields{
    position: absolute;
    display: inline-block;
    width: 250px;
  }
  .download-infofields__field{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
