.item-list {
  overflow: hidden;
  min-width: 210px;
  display: flex;
  flex: 1 1 20%;
  overflow: overlay;
  @include component-section();
  .list-item{
    @include list-item();
    cursor: pointer;
    &__title{
      font-size: 1em;
      font-weight: bold;
    }
  }
}
