.node-crud{
  padding: 10px;
  .button-block{
    display: flex;
    button{
      @include button();
      box-shadow: none;
    padding: 0;
        line-height: 29px;
    flex: 1 0 auto;
    }
  }
}
