.node-viewer {
  order: 2;
  display: flex;
  flex: 1 1 85%;
  height: 85vh;
  display: inline-block;

  .view-inner__container{
    @include component-inner();
  }

  .view-inner {
    display: flex;
    align-items: flex-start;

    &__item-list {
      overflow: hidden;
      min-width: 210px;
      display: flex;
      flex: 1 1 20%;
      overflow: overlay;
      @include component-section();
      .list-item{
        @include list-item();
        cursor: pointer;
      }
    }

    &__item-section {
      overflow: hidden;
      display: flex;
      flex: 2 1 440px;
      //max-width: 60vw;
      overflow-x:hidden;
      overflow-y:overlay;
      @include component-section();
      .node-viewer__component-title{
        display: flex;
        flex-wrap: wrap;
        p{
          margin:0 10px 0;
        }
        h2,.view-switcher-button-block{
          flex: 0,0,220px;
        }
        i{
          flex: 1 1 0;
        }
        .view-switcher-button-block{
          margin:-10px 0;
        }
      }
    }
  }

  .view-switcher-button-block{
    .item-section-switcher{
      @include button();
      margin: 0;
    }
  }
}
