.node-viewer {
  order: 2;
  flex-grow: 1;
  height: 85vh;
  display: inline-block;

  .view-inner__container{
    @include component-inner();
  }

  .view-inner {
    display: flex;
    align-items: flex-start;

    &__item-list {
      overflow: hidden;
      min-width: 210px;
      flex-grow: 0;
      flex-shrink: 2;
      @include component-section();
      .list-item{
        @include list-item();
      }
    }

    &__item-section {
      overflow: hidden;
      min-width: 440px;
      flex-grow: 2;
      flex-shrink: 1;
      //max-width: 60vw;
      overflow-x:hidden;
      overflow-y:scroll;
      @include component-section();
    }
  }

  .item-section-switcher{
    position: absolute;
    top: 2px;
    right: 0px;
    @include button();
    margin: 0;
  }
}
