.node-viewer {
  order: 2;
  flex-grow: 1;
  height: 85vh;
  display: inline-block;

  .view-inner__container{
    @extend %component-inner;
  }

  .view-inner {
    display: flex;
    align-items: flex-start;

    &__item-list {
      overflow: hidden;
      min-width: 10vw;
      flex-grow: 0;
      flex-shrink: 1;
      @extend %component-section;
      .list-item{
        @extend %list-item;
      }
    }

    &__item-section {
      overflow: hidden;
      min-width: 20vw;
      flex-grow: 1;
      flex-shrink: 1;
      //max-width: 60vw;
      overflow-x:hidden;
      overflow-y:scroll;
      @extend %component-section;
    }
  }

  .item-section-switcher{
    position: absolute;
    top: 60px;
    right: 40px;
  }
}
