{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>


<button id="browseButton">BROWSE</button>
<div id="dropTarget" style="height: 100px;width: 100px;background-color: #333;"></div>
<button type="submit">SUBMIT</button>
<button type="button" id="listfiles">listfiles</button>
<input type="hidden" id="id" value="123124">
</div>
{% endblock %}

{% block javascripts %}
  <script type="text/javascript" src="/bundles/fileuploader/assets/js/vendor/resumable.js"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
  <script>
  var i = $("#id").val();
  var r = new Resumable({
    target:'/api/upload',
    resumableIdentifier:i
  });
  r.assignBrowse(document.getElementById('browseButton'));
  r.assignDrop(document.getElementById('dropTarget'));
  r.on('fileAdded', function(file, event){
    alert("ADDED "+file);
  });
  r.on('fileSuccess', function(file, message){
    alert("SUCC "+file);
  });
  r.on('fileError', function(file, message){
    alert("ERR "+file);
  });
  r.on('fileProgress', function(file,message){
    console.log(message);
  });

  $("button[type='submit']").click(function(){
    r.upload();
  });
  $("button#listfiles").click(function(){
    console.log(r.files);
  });
</script>
{% endblock %}
