%component-section-color{
//border-right: 2px solid $color-tertiary;
  background-color:$color-main;
}

%list-item-color{
  background-color: $color-main;
  color: $color-text;
  //border-bottom:1px solid $color-tertiary;
}

%table-cell-color{
  background-color: $color-tertiary;
  color: $color-text;
  //border-bottom: 1px solid $color-main;
  //border-right: 1px solid $color-accent-fade;
  &:nth-child(even){
    background-color: $color-tertiary-fade;
  }
}

%button-color{
  background-color: $color-main;
  color: $color-text-alt;
}

%button-view-color{
  background-color: $color-main;
  color: $color-text-alt;
  &--active{
    background-color: $color-accent;
  }
}

body {
  background-color: $color-background;
  font-size: 12px;
}

.userblock {
  a {
    color:$color-text;
  }
  background-color: $color-tertiary !important;
  color:$color-text !important;
}

.photobank-main {

  &__butt-wrapper{
    button{
      background-color: $color-accent;
      color:$color-text-alt;
    }
  }

  &__upload-pool-wrapper{
    color:$color-text;
    .upload-pool{
      background-color: $color-main;
      >button{
        @extend %button-view-color;
      }
      &__view-inner>button{
        @extend %button-color;
      }
    }
  }

  &__main-block {
    color:$color-text;
    background-color: $color-background;

    .component-title {
      color:$color-text;
      background-color: $color-main;
      //border-bottom: 2px solid $color-main;
      .crumb-string{
        font-size:15px;
        color: $color-accent;
      }
    }
  }
}

.catalogue-tree {
  background-color: $color-main;
  //border-right: 2px solid $color-tertiary;
  .view-inner__list-view{
    .list-view__cat_item{
      @extend %list-item-color;
    }
  }

  &__crumbs{
    .crumbs__crumb{
      background-color: $color-main-fade;
      border-right:1px solid $color-main;
      &--active{
        background-color:$color-accent;
        color:$color-text-alt;
      }
    }
  }
}

.node-viewer {
  .view-inner {
    &__item-list {
      @extend %component-section-color;
      .list-item{
        @extend %list-item-color;
      }
    }

    &__item-section {
      @extend %component-section-color;
      background-color: $color-tertiary;
      .component-title{
        background-color: $color-tertiary-fade;
      }
    }
  }
}

.list-filter{
  button{
    background-color: $color-accent;
    color: white;
  }
}

.item-view {
  .file-list__button-block{
    button{
      @extend %button-color;
      color:$color-text;
    }
  }
  &__existing>button.item-view__view-button{
    @extend %button-view-color;
    &--active{
      background-color: $color-accent;
    }
  }
  &__item-title{
    background-color: $color-main-fade;
    color:$color-text;
  }
  &__subheader{
    background-color: $color-main-fade;
  }
  .item-view__inner {
    a{
      color:$color-text;
    }
    &--icons-lg{
      .item-uploads{
        .file-list__file-item{
          background-color:$color-main;
          color: $color-text;
        }
      }
    }
    &--icons-sm{
      .item-uploads{
        .file-list__file-item{
          background-color:$color-main;
          color:$color-text;
        }
      }
    }
    &--detailed{
      .item-resources{
        //border: 2px solid $color-accent;
        .item-view__table-header{
          .info__info-field{
            background-color: $color-accent;
            color:$color-text-alt;
          }
        }
        .info__info-field, .file>a, select, span, .edit-input{
          @extend %table-cell-color;
        }
      }
      .item-uploads{
        //border: 2px solid $color-accent;
        .info__info-field, .file>a, select, span, .edit-input{
          @extend %table-cell-color;
        }
      }
    }
  }

  .progress-bar{
    &__bar{
      background-color: $color-secondary;
    }
  }
}
