$color-main: #394264;
$color-main-fade: #50597b;
$color-secondary: #00a7a9;
$color-secondary-fade: #222;
$color-tertiary: #333;
$color-tertiary-fade: #222;
$color-accent: #e64c65;
$color-background: #222a3e;
$color-text: #ffffff;
$color-text-alt: #eefcff;

@import "./basetheme.scss";
