$color-main: #eaecee;
$color-main-fade: #e6e6e6;
$color-secondary: #39cc5a;
$color-secondary-fade: #84de98;
$color-tertiary: #fff;
$color-tertiary-fade: #f9f9f9;
$color-accent: #26475f;
$color-accent-fade: #36647d;
$color-background: #fdfdfd;
$color-text: #333333;
$color-text-alt: #ffffff;

@import "./basetheme.scss";
