$color-main: #e4e4e4;
$color-main-fade: #d0d3d8;
$color-secondary: #74a3c5;
$color-accent: #26475f;
$color-background: #fdfdfd;
$color-text: #333333;
$color-text-alt: #ffffff;

@import "./basetheme.scss";
