parameters:
    locale: 'ru'
    local_file_dir: '%kernel.project_dir%/%env(resolve:UPLOADS_PARENT)%/uploads'

imports:
    - { resource: presets.yaml }
    - { resource: fileuploader.yaml }
    - { resource: user.yaml }
    - { resource: links.yaml }

services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    App\:
        resource: '../src/*'
        exclude: '../src/{DependencyInjection,Entity,Migrations,Tests,PhotoBank,Kernel.php}'

    App\Controller\:
        resource: '../src/Controller'
        tags: ['controller.service_arguments']


    # JSON Encoder
    app.encoder.json:
        class: 'Symfony\Component\Serializer\Encoder\JsonEncoder'
    # XML Encoder
    app.encoder.xml:
        class: 'Symfony\Component\Serializer\Encoder\XmlEncoder'

    app.normalizer.catalogue.node:
        class: 'App\Serializer\Normalizer\CatalogueNodeNormalizer'

    app.normalizer.catalogue.item:
        class: 'App\Serializer\Normalizer\CatalogueNodeItemNormalizer'

    app.normalizer.resource:
        class: 'App\Serializer\Normalizer\ResourceNormalizer'

    app.normalizer.link:
        class: 'App\Serializer\Normalizer\LinkNormalizer'

    App\Serializer\AppSerializer:
        autowire: false
        autoconfigure: false
        public: false
        arguments:
            0:
                - '@app.normalizer.catalogue.node'
                - '@app.normalizer.catalogue.item'
                - '@app.normalizer.resource'
                - '@app.normalizer.link'
                - '@serializer.normalizer.object'
            1:
                - '@app.encoder.json'
                - '@app.encoder.xml'

    App\Service\FilesystemDecorator:
          decorates: 'Symfony\Component\Filesystem\Filesystem'
          arguments: ['@App\Service\FilesystemDecorator.inner']
          decoration_priority: 500
