.userblock {
  display: none;
}

.nav-wrapper{
  margin:10px;
  font-size: 1.2em;
}

.link-section, .resource-section{
  flex:1 0 30%;
  overflow: hidden;
  .component-body{
    margin: 0 10px;
  }
  .component-header{
    margin: 0 -10px;
  }
}

.adder-controls{
  background-color: #e9ebed;
  flex-basis: 100%;
  width:100%;
  .button-block{
    float: right;
  }
}

.resource-section{
  min-width: 200px;
  .resource-explorer{
    display:flex;
    flex-direction: column;
    height:96vh;
    .resource-search-form{
      flex: 1 0 auto;
      flex-grow: 0;
    }
    .resource-search-results{
      flex: 1 1 auto;
      overflow: auto;
    }
  }
}
.link-section{
  min-width: 200px;
    display:flex;
    flex-direction: column;
    height:96vh;
    .link-add-form{
      transition: 0.5s;
      flex: 0 0 0;
      padding: 0;
      overflow: hidden;
      &.open{
        overflow: visible;
        padding: 30px;
        flex:0 0 auto;
        flex-grow: 0;
      }
    }
    .link-resource{
      flex: 2 1 auto;
      overflow: auto;
    }
}

.flex-wrapper{
  display:flex;
  flex-wrap: nowrap;
  .link-list{
    overflow: auto;
    padding: 0 10px;
    width:auto;
    flex:1 1 30%;
  }
  .link-adder{
    .component-title{
      background-color: #f9f9f9;
      @include component-title();
      margin: 0 -10px;
    }
    transition:flex 0.5s;
    width:auto;
    overflow: auto;
    flex:0 0 0;
    &.open{
      flex:1 1 70%;
    }
  }
}

.link-adder__inner{
  display:flex;
  flex-wrap: wrap;
}

.resource{
  position: relative;
  @include list-item();
}

.link-resource .resource{
  animation: unfold 0.5s;
}

.add-res{
  font-size: 1.2em;
    padding-right: 5px;
    cursor: pointer;
}

.link-list{
  &.shrunk{
    opacity: 0.25;
  }
  .component-title{
    background-color: #f9f9f9;
    @include component-title();
    margin: 0 -10px;
  }
  background-color: #eaecee;
  .link{
    padding:9px 15px;
    position: relative;
    background-color: #f9f9f9;
    margin: 8px 0;
    i.delete-link{
      padding: 8.5px;
      background-color: #36647d;
      color: white;
      width: 18px;
      text-align: center;
      position: absolute;
      right: 55px;
      top:4px;
      font-size: 1.5em;
      cursor: pointer;
    }
    .link-info{
      width:80%;
    }
  }
}

.draggable{
  width: 2px;
  height: 100vh;
  cursor:col-resize;
  display: block;
  flex-shrink: 0;
}

.resource-preview{
  position: absolute;
  width: 35px;
  height: 35px;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 185%;
  border-color: #30657b;
  border-width: 0.5px;
  border-style: solid;
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
  pointer-events: all;
  &--loading::before{
    font-family: "Font Awesome 5 Free";
    font-weight: bolder;
    content:'\f110';
    font-size: 29px;
  padding: 0 3px;
    animation: rotation 2s infinite linear;
    display: inline-block;
  }
}

.flex-wrapper{
  height: 100vh;
}

// .link-adder .link-adder__inneropen{
//   display: -webkit-flex;
//   display: -ms-flex;
//   display: flex;
//   .component-header{
//     display:block;
//   }
//   .column1{
//     margin:10px;
//     flex:1;
//   }
//   .column2{
//     margin:10px;
//     flex:1;
//   }
// }

.resource-search-results, .link-resource{
  .list-item{
    pointer-events: none;
    @include list-item();
    padding: 14px 15px;
    margin: 4px 0;
    cursor: pointer;
    i{
      pointer-events: all;
    }
    &.selected{
      background-color:#36647d;
      color:white;
    }
  }
}

.plaque.warning{
  margin: 2px 2px 10px;
padding: 12px;
background-color: #dc4444;
color: white;
font-size: 14px;
}

.confirmator-question{
  margin: 2px 2px 10px;
padding: 12px;
background-color: #dc4444;
color: white;
font-size: 14px;
animation: foldout 0.5s;
}

i.fas{
  padding-right: 5px;
}

button{
  @include button-view();
  &.active{
    color:white !important;
    background-color: #366479 !important;
  }
}

.link-add-form, .resource-search-form{
  @include form();
  input[type='checkbox']{
    width:auto
  }
}
