.userblock {
  display: none;
}

#link-manager{
  width: 100%;
}

.link-section, .resource-section{
  flex:1 0 30%;
  overflow: hidden;
  .component-body{
    margin: 0 10px;
  }
  .component-header{
    margin: 0 -10px;
  }
}

.link-list{
  .button-block button{
    box-shadow: none !important;
  }
}

.adder-controls{
  background-color: #e9ebed;
  flex-basis: 100%;
  width:100%;
  .button-block{
    float: right;
  }
}

.resource-section{
  min-width: 200px;
  .resource-explorer{
    display:flex;
    flex-direction: column;
    height:96vh;
    .resource-search-form{
      flex: 1 0 auto;
      flex-grow: 0;
      label{
        color:#333;
      }
      input{
        height: 27px;
        background-color: white;
      }
    }
    .resource-search-results{
      flex: 1 1 auto;
      overflow: auto;
    }
  }
}
.link-section{
  min-width: 200px;
    display:flex;
    flex-direction: column;
    height:96vh;
    .link-add-form{
      transition: 0.5s;
      flex: 0 0 0;
      padding: 0;
      overflow: hidden;
      label{
        color:#333;
      }
      input{
        height: 27px !important;
        background-color: white !important;
      }
      &.open{
        overflow: visible;
        padding: 30px;
        flex:0 0 auto;
        flex-grow: 0;
      }
    }
    .link-resource{
      flex: 2 1 auto;
      overflow: auto;
    }
}

.search-results, .link-resource{
  .list-item{
    &:hover::after{
      content: "";
    position: absolute;
    display: inline-block;
    width: 28px;
    height: 28px;
    background-color: #30657b;
    transform: rotate(45deg);
    right: -4px;
    top: 6px;
    z-index: -1;
    }
  }
}

.link-resource{
  .list-item{
    &:hover::after{
    left: -4px;
    right:auto;
    }
  }
}

.flex-wrapper{
  display:flex;
  flex-wrap: nowrap;
  .link-list{
    overflow: auto;
    padding: 0 10px;
    width:auto;
    flex:1 1 30%;
  }
  .link-adder{
    .component-title{
      background-color: #f9f9f9;
      @include component-title();
      margin: 0 -10px;
    }
    transition:flex 0.5s;
    width:auto;
    overflow: auto;
    flex:0 0 0;
    &.open{
      flex:1 1 70%;
    }
  }
}

.link-adder__inner{
  display:flex;
  flex-wrap: wrap;
}

.resource{
  position: relative;
  @include list-item();
}

.link-resource .resource{
  animation: unfold 0.5s;
}

.add-res{
  font-size: 1.2em;
    padding-right: 5px;
    cursor: pointer;
}

.link-list{
  &.shrunk{
    opacity: 0.25;
    pointer-events: none !important;
    .resource-preview{
      pointer-events: none;
    }
  }
  .component-title{
    background-color: #f9f9f9;
    @include component-title();
    margin: 0 -10px;
  }
  background-color: #eaecee;
  .link{
    padding:9px 15px;
    position: relative;
    background-color: #f9f9f9;
    margin: 8px 0;
    .delete-link{
      position: absolute;
      right: 55px;
      top:4px;
      button{
        padding: 8.5px;
        background-color: #36647d;
        color: white;
        text-align: center;
        font-size: 1.5em;
        cursor: pointer;
      }
    }
    .link-info{
      width:80%;
    }
  }
}

.draggable{
  width: 2px;
  height: 100vh;
  cursor:col-resize;
  display: block;
  flex-shrink: 0;
}

.resource-preview{
  position: absolute;
  width: 35px;
  height: 35px;
  background-position: center;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 185%;
  border-color: #30657b;
  border-width: 0.5px;
  border-style: solid;
  position: absolute;
  right: 10px;
  top: 4px;
  cursor: pointer;
  pointer-events: all;
  &--loading::before{
    font-family: "Font Awesome 5 Free";
    font-weight: bolder;
    content:'\f110';
    font-size: 29px;
  padding: 0 3px;
    animation: rotation 2s infinite linear;
    display: inline-block;
  }
}

.flex-wrapper{
  height: 100vh;
}

.existing-link{
  i{
    color: #33e67b;
  }
}

.resource-search-results, .link-resource{
  .list-item{
    //pointer-events: none;
    @include list-item();
    padding: 14px 15px;
    margin: 4px 0;
    cursor: pointer;
    i{
      //pointer-events: all;
    }
    &.selected{
      background-color:#36647d;
      color:white;
    }
  }
}

button{
  .help-text{
    transition: 0.3s;
    font-size: 12px;
    font-weight: bold;
    color: #306577;
  }
  &:hover{
    .help-text{
      color:white;
    }
  }
}

.link-filter{
  margin: 10px;
}

.size-field{
  display: flex;
  flex-wrap: wrap;
  .button-block{
    flex: 0 0 100%;
    button{
      text-align: center;
      width: 100%;
      font-size: 15px;
padding: 4px;
margin-bottom: 19px;
box-shadow: 0px 6px 8px -4px rgba(0, 0, 0, 0.47) !important;
    }
  }
}

.plaque.warning{
  @include plaque-warning();
}

.form-error{
  @include plaque-warning();
}

.input-half-width{
  width: 50%;
  display: inline-block;
  input{
    width: 80% !important;
  }
  .input-description{
    color: #777;
    padding: 2px 6px 18px;
  }
}

.confirmator-question{
  margin: 2px 2px 10px;
padding: 12px;
background-color: #dc4444;
color: white;
font-size: 14px;
animation: foldout 0.5s;
  &-inline{
    margin: 2px 2px 10px;
  padding: 12px;
  background-color: #dc4444;
  color: white;
  font-size: 14px;
    display: inline-block;
  }
}

.link-exists{
  width: 31px;
display: inline-block;
position: absolute;
right: 53px;
top: 4px;
pointer-events: none !important;
background-color: #30657b;
color: white;
font-size: 20px;
text-align: center;
padding: 9px 0 8px 0;
}

i.fas{
  padding-right: 5px;
}

button{
  @include button-view();
  &.active{
    color:white !important;
    background-color: #366479 !important;
  }
}

.link-add-form, .resource-search-form{
  @include form();
  input[type='checkbox']{
    width:auto
  }
}

.loading{
  @include loading();
}

.button-block i{
  line-height: 26px;
}
