.main-wrapper{
  display: flex;
  height:100vh;
  width: 100vw;
  overflow: hidden;
  .menublock{
    flex:0 0 0;
    &.open{
      flex: 0 0 200px;
    }
  }
  .body-container{
    flex:0 1 100%;
  }
}
